    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'contact' %}">Contact</a></li>
                <li class="list-inline-item"><a href="{% url 'about_us' %}">About</a></li>
                <li class="list-inline-item"><a href="{% url 'terms' %}">Terms</a></li>
                <li class="list-inline-item"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Ship O'Cereal © 2021</p>
        </footer>
    </div>
