<div class = 'cereal_filters'>
    <div class="form-group">
        <label for="sel1">Order by:</label>
        <select class="form-control" id="order-selection" style="width: 90%; display: inline-block">
            <option value="name">Name</option>
            <option value="price">Price: Low-High</option>
            <option value="-price">Price: High-Low</option>
            <option value="sugar">Sugar: Low-High</option>
            <option value="-sugar">Sugar: High-Low</option>
        </select>
    </div>
    <label for = "select-filter">Filters:</label>
    <select id="select-filter" class="selectpicker" multiple="multiple" >
        {% for category in categories %}
            <option value = {{ category.id }}>{{ category.name }}</option>
        {% endfor %}
    </select>
</div>